<form action="/users/<%= @current_user.id %>/notes/<%= @note.id %>/create_tag" style="display: inline;">
  <label for="tag_name">Tag:</label>
  <input type="text_field" id="tag_name" name="tag_name">
  <input type="submit">
</form>