<form data-remote="true" action="/users/<%= @current_user.id %>/notes/<%= @note.id %>/create_collaborator" style="display: inline;">
    <label for="email"></label>
    <input type="text" placeholder="Collaborator" aria-label="Collaborator" name="email">
</form>